<ion-view title="Helpline">
    <ion-tabs>

        <ion-tab title="English">
            <ion-content class="has-header">
                <div class="item item-divider item-icon-right">
                    Helpline
                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">
                        We provide Helpline to students from North East India who have relocated to other parts of the country. Through a strong network of volunteers, local bodies, and supporters, we have been successfully providing assistance in issues like academic admissions, medication, injustice, accomodation, and hospitality.
                        <br>
                        <br>
                        Sadashiv Chavhan,Mumbai<br>
                        9321127704
                        <br>
                        <br>
                        Mayur Karjatkar,Pune<br>
                        9011017918
                        <br>
                        <br>
                        Santalal Yadav,Delhi<br>
                        9971008844
                        <br>
                        <br>
                        Dr. S B Konale,Banglore<br>
                        9741776700
                        <br>
                        <br>
                        Sandeep Kulkarni,Aurangabad<br>
                        9096340090
                        
                        </p>
                </div>
                




            </ion-content>
        </ion-tab>

    </ion-tabs>
</ion-view>
